In [1]:
import pandas as pd
import numpy as np

In [2]:
data  = pd.read_csv("diabetes.csv")

In [3]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
X = data.drop('Outcome',axis=1)
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [5]:
y  = data.Outcome
y.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
classifier = LogisticRegression()

In [9]:
classifier.fit(X_train,y_train)

C:\Users\SAJID\.jupyter\anaconda.installed\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

# Predictions of Training Data

In [10]:
y_train_pred = classifier.predict(X_train)

In [11]:
pd.DataFrame({"Original":y_train, "Prediction":y_train_pred})

     Original  Prediction
762         0           0
127         0           0
564         0           0
375         1           1
663         1           1
..        ...         ...
763         0           0
192         1           1
629         0           0
559         0           0
684         0           0

[576 rows x 2 columns]

# Evaluation Matrices of a classfication Model

# Accuracy
          - 100 >>> 75
                  75/100 = 0.75 = 75%

In [12]:
correct = 0
for o,p in zip(y_train, y_train_pred):
    if o==p:
        correct+=1
        
print(f"Accuracy of our classification model is {(correct/len(y_train)*100)}%")

Accuracy of our classification model is 77.08333333333334%

In [13]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_train_pred)

0.7708333333333334

In [14]:
# Classification Report
from sklearn.metrics import classification_report
print(classification_report(y_train, y_train_pred))

              precision    recall  f1-score   support

           0       0.79      0.88      0.83       370
           1       0.72      0.58      0.65       206

    accuracy                           0.77       576
   macro avg       0.76      0.73      0.74       576
weighted avg       0.77      0.77      0.76       576

In [15]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_train, y_train_pred))

[[324  46]
 [ 86 120]]

# Preditions on Test Data

In [16]:
y_test_pred = classifier.predict(X_test)

In [17]:
pd.DataFrame({"Original":y_test, "Prediction":y_test_pred})

     Original  Prediction
661         1           1
122         0           0
113         0           0
14          1           1
529         0           0
..        ...         ...
366         1           0
301         1           0
382         0           0
140         0           0
463         0           0

[192 rows x 2 columns]

In [18]:
correct = 0
for o,p in zip(y_test, y_test_pred):
    if o==p:
        correct+=1
        
print(f"Accuracy of our classification model is {(correct/len(y_test)*100)}%")

Accuracy of our classification model is 79.16666666666666%

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_test_pred)

0.7916666666666666

In [20]:
# Classification Report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

           0       0.82      0.88      0.85       130
           1       0.71      0.60      0.65        62

    accuracy                           0.79       192
   macro avg       0.77      0.74      0.75       192
weighted avg       0.79      0.79      0.79       192

In [21]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_test_pred))

[[115  15]
 [ 25  37]]

In [22]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
print(accuracy_score(y_test,y_test_pred))
print(recall_score(y_test,y_test_pred))
print(precision_score(y_test,y_test_pred))
print(f1_score(y_test,y_test_pred))

0.7916666666666666
0.5967741935483871
0.7115384615384616
0.6491228070175439

In [23]:
def diabetes_pred(data):
    if classifier.predict(data)==0:
        return "No Diabetes"
    else: 
        return "Diabetes"

In [24]:
record = []
for feature in data.columns[:-1]:    
    record.append(float(input(f"{feature} : ")))
diabetes_pred(np.array(record).reshape(1,len(record)))

Pregnancies : 6
Glucose : 148
BloodPressure : 72
SkinThickness : 35
Insulin : 0
BMI : 33.6
DiabetesPedigreeFunction : 0.627
Age : 50

C:\Users\SAJID\.jupyter\anaconda.installed\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

'Diabetes'

In [26]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [25]:
data.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64