In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
data=pd.read_csv("PreprocessedBank.csv")

In [12]:
data.head()

,Unnamed: 0,age,default,balance,housing,loan,day,duration,campaign,pdays,...,jun,mar,may,nov,oct,sep,failure,success,unknown,deposit
0,0,59,1,2343,0,1,5,1042,1,-1,...,0,0,1,0,0,0,0,0,1,1
1,1,56,1,45,1,1,5,1467,1,-1,...,0,0,1,0,0,0,0,0,1,1
2,2,41,1,1270,0,1,5,1389,1,-1,...,0,0,1,0,0,0,0,0,1,1
3,3,55,1,2476,0,1,5,579,1,-1,...,0,0,1,0,0,0,0,0,1,1
4,4,54,1,184,1,1,5,673,2,-1,...,0,0,1,0,0,0,0,0,1,1

In [14]:
X=data.drop("deposit",axis=1)
X

,Unnamed: 0,age,default,balance,housing,loan,day,duration,campaign,pdays,...,jul,jun,mar,may,nov,oct,sep,failure,success,unknown
0,0,59,1,2343,0,1,5,1042,1,-1,...,0,0,0,1,0,0,0,0,0,1
1,1,56,1,45,1,1,5,1467,1,-1,...,0,0,0,1,0,0,0,0,0,1
2,2,41,1,1270,0,1,5,1389,1,-1,...,0,0,0,1,0,0,0,0,0,1
3,3,55,1,2476,0,1,5,579,1,-1,...,0,0,0,1,0,0,0,0,0,1
4,4,54,1,184,1,1,5,673,2,-1,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,11157,33,1,1,0,1,20,257,1,-1,...,0,0,0,0,0,0,0,0,0,1
11158,11158,39,1,733,1,1,16,83,4,-1,...,0,1,0,0,0,0,0,0,0,1
11159,11159,32,1,29,1,1,19,156,2,-1,...,0,0,0,0,0,0,0,0,0,1
11160,11160,43,1,0,1,0,8,9,2,172,...,0,0,0,1,0,0,0,1,0,0
11161,11161,34,1,0,1,1,9,628,1,-1,...,1,0,0,0,0,0,0,0,0,1

In [15]:
y=data.deposit
y

0        1
1        1
2        1
3        1
4        1
        ..
11157    0
11158    0
11159    0
11160    0
11161    0
Name: deposit, Length: 11162, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

In [22]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
DecisonTree=DecisionTreeClassifier()

In [25]:
DecisonTree.fit(X_train,y_train)

DecisionTreeClassifier()

In [29]:
from sklearn.metrics import accuracy_score,classification_report

AttributeError: 'DecisionTreeClassifier' object has no attribute 'accuracy_score'