In [1]:
import pandas as pd

In [4]:
data=pd.read_excel("SaleData.xlsx")

In [5]:
data.head()

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,2019-08-07,Central,Hermann,Shelli,Video Games,42,58.5,2457.0
1,2019-08-24,West,Timothy,Stephen,Desk,3,125.0,375.0
2,2019-09-10,Central,Timothy,David,Television,7,1198.0,8386.0
3,2018-01-06,East,Martha,Alexander,Television,95,1198.0,113810.0
4,2018-01-23,Central,Hermann,Shelli,Home Theater,50,500.0,25000.0

In [ ]:
data=data.to_date

In [6]:
from datetime import datetime

In [7]:
date=datetime(2024,10,25)

In [8]:
date

datetime.datetime(2024, 10, 25, 0, 0)

In [9]:
date.hour

0

In [10]:
date.year

2024

In [11]:
date.day

25

In [12]:
date.minute

0

In [15]:
today_date=datetime.now()

In [16]:
today_date

datetime.datetime(2024, 10, 25, 6, 4, 56, 147810)

In [17]:
today_date.hour

6

In [18]:
today_date.minute

4

In [19]:
today_date.day

25

In [20]:
today_date.microsecond

147810

In [21]:
today_date.month

10

In [24]:
timestamp = pd.Timestamp('2024-10-25')

In [25]:
timestamp

Timestamp('2024-10-25 00:00:00')

In [26]:
time_delta = pd.Timedelta(days=5)

In [27]:
time_delta

Timedelta('5 days 00:00:00')

In [32]:
today_date = pd.Timestamp('2024-10-25')

In [33]:
time_delta = today_date + pd.Timedelta(days=2)

In [34]:
time_delta

Timestamp('2024-10-27 00:00:00')

In [35]:
import numpy as np

In [36]:
np.random.seed(2334)
peroid1=pd.date_range("1/1/2024",periods=100)
peroid2=pd.date_range("1/1/2024",periods=100)
pd.Series(np.random(1233),)
peroid1

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20',
               '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-24',
               '2024-01-25', '2024-01-26', '2024-01-27', '2024-01-28',
               '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01',
               '2024-02-02', '2024-02-03', '2024-02-04', '2024-02-05',
               '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09',
               '2024-02-10', '2024-02-11', '2024-02-12', '2024-02-13',
               '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-17',
               '2024-02-18', '2024-02-19', '2024-02-20', '2024-02-21',
               '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25',
               '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29',
               '2024-03-01', '2024-03-02', '2024-03-03', '2024-03-04',
               '2024-03-05', '2024-03-06', '2024-03-07', '2024-03-08',
               '2024-03-09', '2024-03-10', '2024-03-11', '2024-03-12',
               '2024-03-13', '2024-03-14', '2024-03-15', '2024-03-16',
               '2024-03-17', '2024-03-18', '2024-03-19', '2024-03-20',
               '2024-03-21', '2024-03-22', '2024-03-23', '2024-03-24',
               '2024-03-25', '2024-03-26', '2024-03-27', '2024-03-28',
               '2024-03-29', '2024-03-30', '2024-03-31', '2024-04-01',
               '2024-04-02', '2024-04-03', '2024-04-04', '2024-04-05',
               '2024-04-06', '2024-04-07', '2024-04-08', '2024-04-09'],
              dtype='datetime64[ns]', freq='D')

In [37]:
peroid2

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20',
               '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-24',
               '2024-01-25', '2024-01-26', '2024-01-27', '2024-01-28',
               '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01',
               '2024-02-02', '2024-02-03', '2024-02-04', '2024-02-05',
               '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09',
               '2024-02-10', '2024-02-11', '2024-02-12', '2024-02-13',
               '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-17',
               '2024-02-18', '2024-02-19', '2024-02-20', '2024-02-21',
               '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25',
               '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29',
               '2024-03-01', '2024-03-02', '2024-03-03', '2024-03-04',
               '2024-03-05', '2024-03-06', '2024-03-07', '2024-03-08',
               '2024-03-09', '2024-03-10', '2024-03-11', '2024-03-12',
               '2024-03-13', '2024-03-14', '2024-03-15', '2024-03-16',
               '2024-03-17', '2024-03-18', '2024-03-19', '2024-03-20',
               '2024-03-21', '2024-03-22', '2024-03-23', '2024-03-24',
               '2024-03-25', '2024-03-26', '2024-03-27', '2024-03-28',
               '2024-03-29', '2024-03-30', '2024-03-31', '2024-04-01',
               '2024-04-02', '2024-04-03', '2024-04-04', '2024-04-05',
               '2024-04-06', '2024-04-07', '2024-04-08', '2024-04-09'],
              dtype='datetime64[ns]', freq='D')